:root {
  --background-color: #f0f2f5;
  --primary-bg-bolor: #fff;
  --title-color: #3b4a73;
  --text-size: 12px;

  --primary-color: "";
  --secondary-color: "";
  --label-color: "";
  --hover-bg: #eee;
  --title-hover-color: #eee;
}

html[data-theme="light"] {
  --background-color: #f0f2f5;
  --hover-bg: #eee;
  --nav-bg: #fff;
  --border-color: #eee;
  --nav-title: #a5a1a1;
  --table-header: #e8ecf1;
  --action-header-bg: #e2e5ea;
  --primary-bg-bolor: #fff;

  --primary-color: "";
  --secondary-color: "";
  --label-color: "";
  --title-color: #3b4a73;
  --title-hover-color: #3b4a73;
}

html[data-size="small"] {
  --text-size: 12px;
}

html[data-theme="dark"] {
  --background-color: #282828;
  --title-color: #f0f2f5;

  --primary-color: "";
  --secondary-color: "";
  --label-color: "";
  --hover-bg: #eee;
  --title-color: #eee;
  --primary-bg-bolor: #212a2e;
  --title-hover-color: #3b4a73;
}

div.nav-item-title {
  font-size: 12px;
  margin-bottom: 4px;
  font-weight: bold;
  color: var(--nav-title);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
