@import "../../../variables.scss";

.schema-option {
  & > div.ant-select-item-option-content {
    font-size: 12px;
  }
}

.db-query-tabs {
  .ant-tabs-nav {
    margin-bottom: 5px;
    padding: 0 10px;
  }
  .ant-menu-inline .ant-menu-item {
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 15px;
  }
  .query-item {
    font-size: 12px;
    height: 32.5px;
    line-height: 32.5px;
  }
}

.db-tabs {
  width: 100%;
  & > .ant-tabs-nav {
    margin: 0;
    background-color: var(--background-color);
    .ant-tabs-tab:not(:last-of-type) {
      margin-right: 0;
      border-radius: 0;
    }
  }
  div.ant-tabs-nav-list {
    background: var(--background-color);
    & > :not(div.ant-tabs-tab-active) {
      color: var(--secondary-color);
      margin-right: 0;
      // border-bottom: 1px solid var(--border-color);
    }
    .ant-tabs-tab {
      border-radius: 0;
      background: var(--background-color);
      padding-bottom: 13px;
      border: none;
      border-right: 1px solid var(--background-selected);
      margin-right: 0 !important;
      .ant-tabs-tab-remove {
        color: var(--secondary-color);
      }
    }

    .ant-tabs-tab-active {
      background: var(--light-bg);
      border: none;
      .ant-tabs-tab-remove {
        color: var(--default-green);
      }
    }
  }

  .db-tab-header {
    display: flex;
    align-items: center;

    & > svg {
      margin-right: 4px;
    }
  }
  .tbl-data {
    .ant-table-container,
    .ant-table {
      border-radius: 0;
    }
    .ant-table-thead {
      .ant-table-selection-column {
        background-color: var(--table-header);
      }
    }
    th.table-cell-light {
      // background-color: var(--table-header);
      // color: $lt-font-dull-color;
      padding: 10px;
    }
    th {
      font-size: 11.5px;
    }

    .ant-table-tbody > tr > td {
      font-size: 12px;
      height: 50px;
      padding: 5px 16px;
    }
    td.run-history-col {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0px auto;
    }

    td.table-cell-light {
      // color: $lt-font-color;
      // background-color: $lt-card-bg;
      // border-bottom: none;
    }
    .app-icon {
      margin-right: 10px;
    }
    .app-name {
      font-size: 14px;
      color: $lt-font-color;
    }
    .app-desc {
      font-size: 12px;
      color: $lt-font-dull-color;
    }
  }
}

.database-browser-wrapper {
  .ant-skeleton {
    padding: 10px;
  }
  .ant-skeleton-paragraph > li {
    float: right;
  }
  .error-box {
    margin: 100px;

    div.ant-alert-error {
      margin-bottom: 20px;
    }
  }
  .ant-layout-sider {
    border-right: 1px solid #eee;

    .ant-menu-inline {
      border: none;
    }

    .db-side-nav-segment {
      margin: 10px auto;
      width: 80%;

      span.ant-select-selection-item {
        font-size: 12px;
      }
    }
  }
  .db-objects {
    span.ant-tree-node-content-wrapper {
      line-height: 20px;
      font-size: var(--text-size);
      &:hover {
        color: var(--default-green);
        background-color: var(--background-selected);
      }
    }
    span.ant-tree-node-selected {
      color: var(--default-green);
      background-color: var(--background-selected);
    }
  }
  .db-browser-header {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: var(--nav-bg);

    button.ant-btn-icon-only {
      border: none;
      margin: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.5s;
      background-color: var(--background-color);
      color: var(--title-color);

      &:hover {
        background-color: var(--default-btn-color);
        color: var(--default-green);
      }

      & > svg {
        font-size: 22px;
      }
    }

    .left-container {
      padding: 8px;

      width: 220px;

      .db-conn-name {
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 2px;
        color: var(--primary-color);
      }
      .db-product {
        font-size: 11px;

        & > span.product-name {
          padding: 3px;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          border: 1px solid #eee;
          text-transform: lowercase;
        }

        & > span.product-version {
          padding: 3px;
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          border: 1px solid #eee;
          border-left: none;
          background: #eee;
          text-transform: lowercase;
        }
      }
      .db-icon {
        color: $lt-font-color;
        img {
          height: 24px;
        }
      }
      .db-label {
        font-weight: 500;
        color: $lt-font-color;
      }
    }
    .right-container {
      padding: 12px 15px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .query-file-name {
        font-weight: 400;
        color: $lt-font-color;
      }
      .ant-btn-icon-only {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .query-save-btn,
      .query-run-btn {
        .ant-btn {
          font-size: 12px;
        }
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }
  }
  .db-info-container {
    display: flex;
    .db-list-container {
      height: 100%;
      .db-menu {
        width: 200px;
      }
      .ant-menu-submenu:last-child {
        margin-bottom: 55px;
      }
      :not(li.ant-menu-item-active) i {
        color: #e4e5f1;
        display: flex;
      }
      .ant-menu-sub {
        .ant-menu-item {
          padding-left: 30px !important;
        }
      }
      .ant-menu-item {
        display: flex;
        align-items: center;
        font-size: 12px;
      }
      .ant-menu-sub.ant-menu-inline > .ant-menu-item {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  .query-container {
    width: 100%;
    div.ant-tabs {
      padding: 0 10px;
    }

    div.trigger-menu {
      button.ant-dropdown-trigger {
        border-left: 1px solid var(--border-color);
        padding-right: 5px;
      }
    }

    .query-editor {
      width: 100%;
    }
    .query-result-table {
      border-top: 1px solid $lt-card-border;
      width: 100%;
      .ant-card-head {
        padding: 0 15px;
        min-height: 35px;
        .ant-card-head-title {
          font-size: 14px;
          color: $lt-font-color;
          padding: 10px 0;
        }
        .ant-card-extra {
          padding: 0;
        }
        .query-result-export-btn {
          display: flex;
          align-items: center;
          font-weight: 400;
          color: $lt-font-color;
        }
      }
      .ant-card-body {
        border-top: 1px solid $lt-card-border;
        padding: 0;
      }
    }
  }
}

.save-query-modal {
  .query-file-name {
    margin-bottom: 8px;
  }

  .select-folder-container {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border: 1px solid $lt-card-border;
    overflow: auto;
  }
  .footer-btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .folder-tree-container {
    .ant-tree-node-content-wrapper {
      display: flex;
    }
  }
}

.table-action-header {
  background: var(--action-header-bg);
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  .action-btn-group {
    .ant-btn {
      display: inline-flex;
      border-top: 0;
      border-bottom: 0;
      border-left: 0;
      background: var(--default-btn-color);
      color: var(--secondary-color);
      &:last-child {
        border-right: 0;
      }
      border-right: 1px solid var(--light-bg);

      border-radius: 0;
    }
  }
}

.download-modal-wrapper {
  .ant-modal-header {
    padding: 10px 20px;
  }
  .ant-modal-close-x {
    line-height: 45px;
  }
  .ant-modal-body {
    padding: 10px 15px;
  }
  .download-content-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    .preview-title,
    .input-label {
      font-size: 14px;
      color: var(--title-color);
      font-weight: 500;
      margin-bottom: 6px;
    }
    .ant-input,
    .ant-select-selector {
      background-color: var(--background-color);
      border-color: var(--input-border);
      color: var(--title-color);
      &::placeholder {
        color: var(--placeholder-color);
      }
    }
    .ant-select-selector,
    .ant-select-arrow {
      color: var(--secondary-color);
    }

    .ant-checkbox-wrapper span {
      color: var(--secondary-color);
    }

    .form-container {
      flex-basis: 40%;
    }
    .preview-container {
      flex-basis: 60%;
    }
  }
}

.ant-select-dropdown {
  background-color: var(--select-item-bg);
}

.ant-select-item {
  background-color: var(--select-item-bg);
  color: var(--secondary-color);
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled),
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: var(--background-selected);
  color: var(--title-color);
}

.tabs-content-wrapper {
  background-color: var(--light-bg);
  .ant-tabs-nav {
    &::before {
      border-bottom: none;
    }
  }
}

.ant-modal-header {
  background-color: var(--background-color);
  border-radius: 0;
  border-bottom: none;
  .ant-modal-title {
    color: var(--secondary-color);
  }
}
.ant-modal-body {
  background-color: var(--light-bg);
}

.ant-modal-footer {
  background-color: var(--background-color);
  border-radius: 0;
  border-top: none;
  .cancel-modal-btn,
  .copy-text-btn {
    background-color: var(--default-btn-color);
    &:hover {
      background-color: var(--light-bg);
    }
    color: var(--secondary-color);
    border-color: var(--light-bg);
  }
}
.ant-modal-close-icon {
  color: var(--secondary-color);
}
